<h1 class="ueberschrift">Neuer Wettschein</h1>
<h3 class="unter_ueberschrift">Sie sind dabei einen neuen Wettschein zu erstellen.</h3>
<h3 class="unter_ueberschrift" style="margin-bottom: 40px">Wie viel Geld wollen Sie als Einsatz setzen?</h3>
<div class="main">
  <div class="inputeinsatz_div">
    <mat-form-field id="addEinsatz">
      <label>
        <input matInput class="inputeinsatz" placeholder="Einsatz (in €)" name="einsatz" inputmode="number"
               spellcheck="false" maxlength="20"
               [(ngModel)]="einsatz" (ngModelChange)="onEinsatzChanged()">
      </label>
    </mat-form-field>
  </div>
  <div class="outputmoeglichergewinn_div">
    <p class="moeglichergewinn_text">Möglicher Gewinn:</p>
    <p class="moeglichergewinn_zahl">{{ moeglicherGewinn.toString() }} €</p>
  </div>
  <!-- Platzhalter -->
  <div *ngIf="einsatz <= 0"></div><!-- Platzhalter -->
  <div *ngIf="einsatz > 0">
    <button class="accept_einsatz" mat-fab color="primary"
            title="Erstelle einen Wettschein mit dem angegebenen Einsatz." (click)="onAcceptEinsatzClicked()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
