
.ueberschrift {
  text-align: center;
  font-weight: 500;
}

.unter_ueberschrift {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
}

.main {
  width: 100%;
  text-align: center;
}

.inputeinsatz_div {
  width: 40%;
  float: left;
}

.outputmoeglichergewinn_div {
  width: 40%;
  float: left;
}

.inputeinsatz {
  text-align: center;
  font-size: 22px;
}

.moeglichergewinn_text {
  font-size: 16px;
  margin-top: -6px;
  margin-bottom: 4px;
  font-weight: 500;
  padding: 2px 0;
  color: white;
  background-color: darkmagenta;
}

.moeglichergewinn_zahl {
  font-size: 20px;
  font-weight: 500;
}

#addEinsatz {
  margin-left: 5%;
  width: 95%;
}

