<div class="main" *ngIf="!sessionService.user.benutzername">
  <h1 class="ueberschrift" style="background-color: azure; padding: 20px 0; text-align: center">Bitte melden Sie sich oben rechts an.</h1>
</div>

<div class="main" *ngIf="sessionService.user.benutzername">
  <h1 class="ueberschrift">Meine Wettscheine</h1>

  <mat-tab-group>
    <mat-tab label="Laufende Wetten">

      <div class="laufendeWetten">

        <mat-accordion>
          <mat-expansion-panel *ngFor="let wettschein of getWettscheine('laufend')">
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 20px; padding: 14px 0">
                {{ 'Wettschein ' + wettschein.nummer }}
              </mat-panel-title>
              <mat-panel-description>
                {{ 'Einsatz: ' + wettschein.einsatz + ' € | ' + 'Möglicher Gewinn: ' + wettschein.moeglicherGewinn + ' €' }}
                <mat-icon>article</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table class="wettenTabelle" *ngIf="getWettscheine('laufend').length > 0"
                   [dataSource]="wettschein.fussballwetten">

              <ng-container matColumnDef="heimTeam">
                <th mat-header-cell *matHeaderCellDef class="th_center">Heim</th>
                <td mat-cell *matCellDef="let wette" class="table_item_team" style="border-left: 2px solid black"
                    [ngStyle]="{'font-size': wette.tipp.toString() == '1' || wette.tipp.toString() == '0' ? '18px' : '17px',
                            'font-weight': wette.tipp.toString() == '1' || wette.tipp.toString() == '0' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">
                  {{ wette.spiel.heimTeam.name }}<br><p class="tore">{{ wette.spiel.toreHeim }}</p></td>
              </ng-container>

              <ng-container matColumnDef="quoteHeim">
                <th mat-header-cell *matHeaderCellDef class="th_center">Quote (Heim)</th>
                <td mat-cell *matCellDef="let wette" class="table_item_quote"
                    [ngStyle]="{'font-weight': wette.tipp.toString() == '1' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ wette.spiel.quoteHeim }}</td>
              </ng-container>

              <ng-container matColumnDef="quoteX">
                <th mat-header-cell *matHeaderCellDef class="th_center">Quote (Unentschieden)</th>
                <td mat-cell *matCellDef="let wette" class="table_item_quote"
                    [ngStyle]="{'font-weight': wette.tipp.toString() == '0' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ wette.spiel.quoteX }}</td>
              </ng-container>

              <ng-container matColumnDef="quoteGast">
                <th mat-header-cell *matHeaderCellDef class="th_center">Quote (Gast)</th>
                <td mat-cell *matCellDef="let wette" class="table_item_quote"
                    [ngStyle]="{'font-weight': wette.tipp.toString() == '2' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ wette.spiel.quoteGast }}</td>
              </ng-container>

              <ng-container matColumnDef="gastTeam">
                <th mat-header-cell *matHeaderCellDef class="th_center">Gast</th>
                <td mat-cell *matCellDef="let wette" class="table_item_team"
                    [ngStyle]="{'font-size': wette.tipp.toString() == '2' || wette.tipp.toString() == '0' ? '18px' : '17px',
                            'font-weight': wette.tipp.toString() == '2' || wette.tipp.toString() == '0' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">
                  {{ wette.spiel.gastTeam.name }}<br><p class="tore">{{ wette.spiel.toreGast }}</p></td>
              </ng-container>

              <ng-container matColumnDef="spielStart">
                <th mat-header-cell *matHeaderCellDef class="th_center">Beginn</th>
                <td mat-cell *matCellDef="let wette" class="table_item_dates"
                    [ngStyle]="{'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ getDateString(wette.spiel.spielStart) }}</td>
              </ng-container>

              <ng-container matColumnDef="spielEnde">
                <th mat-header-cell *matHeaderCellDef class="th_center">Ende</th>
                <td mat-cell *matCellDef="let wette" class="table_item_dates" style="border-right: 2px solid black"
                    [ngStyle]="{'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ getDateString(wette.spiel.spielEnde) }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplayFussballwetten"></tr>
              <tr mat-row *matRowDef="let wette; columns: columnsToDisplayFussballwetten;"></tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

    <mat-tab label="Beendete Wetten">
      <div class="beendeteWetten">

        <mat-accordion>
          <mat-expansion-panel *ngFor="let wettschein of getWettscheine('beendet')">
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 20px; padding: 14px 0">
                {{ 'Wettschein ' + wettschein.nummer }}
              </mat-panel-title>
              <mat-panel-description>
                {{ 'Einsatz: ' + wettschein.einsatz + ' € | ' + 'Möglicher Gewinn: ' + wettschein.moeglicherGewinn + ' €' }}
                <mat-icon>article</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table class="wettenTabelle" *ngIf="getWettscheine('beendet').length > 0"
                   [dataSource]="wettschein.fussballwetten">

              <ng-container matColumnDef="heimTeam">
                <th mat-header-cell *matHeaderCellDef class="th_center">Heim</th>
                <td mat-cell *matCellDef="let wette" class="table_item_team" style="border-left: 2px solid black"
                    [ngStyle]="{'font-size': wette.tipp.toString() == '1' || wette.tipp.toString() == '0' ? '18px' : '17px',
                            'font-weight': wette.tipp.toString() == '1' || wette.tipp.toString() == '0' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">
                  {{ wette.spiel.heimTeam.name }}<br><p class="tore">{{ wette.spiel.toreHeim }}</p></td>
              </ng-container>

              <ng-container matColumnDef="quoteHeim">
                <th mat-header-cell *matHeaderCellDef class="th_center">Quote (Heim)</th>
                <td mat-cell *matCellDef="let wette" class="table_item_quote"
                    [ngStyle]="{'font-weight': wette.tipp.toString() == '1' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ wette.spiel.quoteHeim }}</td>
              </ng-container>

              <ng-container matColumnDef="quoteX">
                <th mat-header-cell *matHeaderCellDef class="th_center">Quote (Unentschieden)</th>
                <td mat-cell *matCellDef="let wette" class="table_item_quote"
                    [ngStyle]="{'font-weight': wette.tipp.toString() == '0' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ wette.spiel.quoteX }}</td>
              </ng-container>

              <ng-container matColumnDef="quoteGast">
                <th mat-header-cell *matHeaderCellDef class="th_center">Quote (Gast)</th>
                <td mat-cell *matCellDef="let wette" class="table_item_quote"
                    [ngStyle]="{'font-weight': wette.tipp.toString() == '2' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ wette.spiel.quoteGast }}</td>
              </ng-container>

              <ng-container matColumnDef="gastTeam">
                <th mat-header-cell *matHeaderCellDef class="th_center">Gast</th>
                <td mat-cell *matCellDef="let wette" class="table_item_team"
                    [ngStyle]="{'font-size': wette.tipp.toString() == '2' || wette.tipp.toString() == '0' ? '18px' : '17px',
                            'font-weight': wette.tipp.toString() == '2' || wette.tipp.toString() == '0' ? 600 : 500,
                            'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">
                  {{ wette.spiel.gastTeam.name }}<br><p class="tore">{{ wette.spiel.toreGast }}</p></td>
              </ng-container>

              <ng-container matColumnDef="spielStart">
                <th mat-header-cell *matHeaderCellDef class="th_center">Beginn</th>
                <td mat-cell *matCellDef="let wette" class="table_item_dates"
                    [ngStyle]="{'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ getDateString(wette.spiel.spielStart) }}</td>
              </ng-container>

              <ng-container matColumnDef="spielEnde">
                <th mat-header-cell *matHeaderCellDef class="th_center">Ende</th>
                <td mat-cell *matCellDef="let wette" class="table_item_dates" style="border-right: 2px solid black"
                    [ngStyle]="{'background-color': (wette.tipp.toString() == '1' && wette.spiel.toreHeim > wette.spiel.toreGast) ||
                                                (wette.tipp.toString() == '2' && wette.spiel.toreGast > wette.spiel.toreHeim) ||
                                                (wette.tipp.toString() == '0' && wette.spiel.toreHeim == wette.spiel.toreGast) ? 'lightgreen' :
                                                '#CD5C5C'}">{{ getDateString(wette.spiel.spielEnde) }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplayFussballwetten"></tr>
              <tr mat-row *matRowDef="let wette; columns: columnsToDisplayFussballwetten;"></tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
