.main {
  width: 90%;
  margin-left: 5%;
}

.ueberschrift {
  text-align: left;
  font-size: 30px;
  margin: 20px 0 16px 14px;
}

.unter_ueberschrift {
  padding: 6px 0 0 6px;
  font-size: 18px;
}

.laufendeWetten {
  height: 100%;
  font-family: Roboto, "Arial", sans-serif;
}

.wettenTabelle {
  width: 100%;
}

.th_center {
  text-align: center;
  border-bottom: 2px solid black;

  font-weight: 500;
  font-size: 15px;
}

.table_item_team {
  text-align: center;
  width: 28%;
  height: 60px;

  border-bottom: 2px solid black;

  font-size: 16px;
}

.table_item_quote {
  text-align: center;
  min-width: 4%;
  border-bottom: 2px solid black;

  font-size: 18px;
}

.table_item_dates {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 16%;
}

.beendeteWetten {
  height: 100%;
  font-family: Roboto, "Arial", sans-serif;
}

.tore {
  margin-top: 4px;
  padding-bottom: 0;
  margin-bottom: 0;
}

::ng-deep mat-panel-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}
