.main {
  width: 90%;
  margin-left: 5%;
}

.ueberschrift {
  text-align: left;
  font-size: 30px;
  margin: 20px 0 16px 14px;
}

.unter_ueberschrift {
  font-size: 20px;
}

.aktuelles_spiel_div {
  width: 40%;
  height: 560px;
  min-width: 240px;
  border: 3px solid darkmagenta;
  border-bottom: 3px solid black;
}

.aktuelles_spiel_ueberschrift {
  width: 100%;
  margin: -2px 0 0 -3px;
  height: 6%;
  text-align: center;
  border: 3px solid darkmagenta;
}

.aktuelles_spiel_message {
  height: 100%;
  width: calc(50% - 1px);
  float: left;
  border-right: 2px solid darkmagenta;
  background-color: darkmagenta;
  color: white;
}

.aktuelles_spiel_liga {
  height: 100%;
  width: calc(50% - 1px);
  float: left;
}

.aktuelles_spiel {
  height: 70%;
}

.aktuelles_spiel_text_ueberschrift {
  padding: 10px 0 0 10px;
  margin-bottom: 0;
  font-size: 18px;
}

.aktuelles_spiel_text {
  padding: 10px 0 0 10px;
  font-size: 18px;
}

.aktuelles_spiel_teams_div {
  float: none;
  text-align: center;
  height: 62px;
}

.aktuelles_spiel_team_div {
  float: left;
  width: 40%;
}

.aktuelles_spiel_team_trenner_div {
  float: left;
  width: 20%;
}

.aktuelles_spiel_team {
  padding: 10px 0 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.aktuelles_spiel_tore_div {
  text-align: center;
}

.aktuelles_spiel_tore {
  font-size: 50px;
  padding: 26px 0 40px 0;
}

.aktuelles_spiel_quote {
  height: calc(12% - 7px);
  margin: 0 -3px;
  border: 3px solid black;
  border-left: none;
}

.auswahl_quote {
  border: 3px none black;
  border-left-style: solid;
  float: left;
  height: 100%;
  width: calc(1 / 3 * 100% - 3px);

  background-color: #008b00;

  text-align: center;

  &:hover {
    cursor: pointer !important;
  }
}

.aktuelles_spiel_quote_team {
  padding-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.aktuelles_spiel_quote_text {
  margin-top: -2px;
  padding-top: 6px;
  font-size: 18px;
  font-weight: 500;
}

.aktuelles_spiel_einsatz {
  height: 12%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  margin: 0 -3px;
}

.aktuelles_spiel_einsatz_wettschein {
  float: left;
  width: 50%;
  height: 100%;
}

.aktuelles_spiel_einsatz_wettschein_formfield {
  padding-top: 10px;
  font-size: 18px;
  text-align: left;
  width: 90%;
  padding-left: 10%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-bottom: 4px;
}

.aktuelles_spiel_einsatz_wettschein_select {
  padding-left: 1px;
}

.aktuelles_spiel_einsatz_button_div {
  text-align: right;
  float: left;
  width: 50%;
  padding-top: 27px;
  height: 59%;
}

.aktuelles_spiel_einsatz_button {
  height: calc(100% - 3px);
  width: 120px;
  background-color: darkmagenta;
  border-radius: 0;
}

.infomessage {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
