<div class="main" *ngIf="!sessionService.user.benutzername">
  <h1 class="ueberschrift" style="background-color: azure; padding: 20px 0; text-align: center">Bitte melden Sie sich oben rechts an.</h1>
</div>

<div class="main" *ngIf="sessionService.user.benutzername">
  <h1 class="ueberschrift">Fußball-Wetten</h1>

  <div class="aktuelles_spiel_div">
    <div class="aktuelles_spiel_ueberschrift">
      <div class="aktuelles_spiel_message">
        <h2 class="unter_ueberschrift">Aktuelles Spiel</h2>
      </div>
      <div class="aktuelles_spiel_liga">
        <h2 class="unter_ueberschrift">{{ getTurnierFromAktuellesSpiel() }}</h2>
      </div>
    </div>
    <div class="aktuelles_spiel" *ngIf="!sessionService.aktuellesSpiel">
      <p class="infomessage">Es gibt momentan keine aktiven Spiele.</p>
    </div>
    <div class="aktuelles_spiel" *ngIf="sessionService.aktuellesSpiel.heimTeam">
      <p class="aktuelles_spiel_text_ueberschrift">Spielstart:</p>
      <p class="aktuelles_spiel_text">{{ getDateString(sessionService.aktuellesSpiel.spielStart) }}
        - {{getTimeString(sessionService.aktuellesSpiel.spielStart)}} Uhr</p>
      <div class="aktuelles_spiel_teams_div">
        <div class="aktuelles_spiel_team_div">
          <p class="aktuelles_spiel_team">{{ sessionService.aktuellesSpiel.heimTeam.name }}</p>
        </div>

        <div class="aktuelles_spiel_team_trenner_div">
          <p></p>
        </div>

        <div class="aktuelles_spiel_team_div">
          <p class="aktuelles_spiel_team">{{ sessionService.aktuellesSpiel.gastTeam.name }}</p>
        </div>
      </div>
      <div class="aktuelles_spiel_tore_div">
        <div class="aktuelles_spiel_team_div">
          <p class="aktuelles_spiel_tore">{{ sessionService.aktuellesSpiel.toreHeim }}</p>
        </div>

        <div class="aktuelles_spiel_team_trenner_div">
          <p class="aktuelles_spiel_tore"> : </p>
        </div>

        <div class="aktuelles_spiel_team_div">
          <p class="aktuelles_spiel_tore">{{ sessionService.aktuellesSpiel.toreGast }}</p>
        </div>
      </div>
      <p class="aktuelles_spiel_text_ueberschrift">Aktuelle Spielzeit: </p>
      <p class="aktuelles_spiel_text"
         style="color: darkgreen">{{ getDifferenceHourMinuteBetweenToDates(sessionService.aktuellesSpiel.spielStart, null) }}</p>
      <p class="aktuelles_spiel_text_ueberschrift">Spielende:</p>
      <p class="aktuelles_spiel_text">{{ getDateString(sessionService.aktuellesSpiel.spielEnde) }}
        - {{getTimeString(sessionService.aktuellesSpiel.spielEnde)}} Uhr</p>
    </div>
    <div class="aktuelles_spiel_quote">
      <div class="auswahl_quote" (mouseover)="quoteHover = 'Heim'" (mouseleave)="quoteHover = ''"
           (click)="ausgewaehlteQuote == 'Heim' ? ausgewaehlteQuote = '' : ausgewaehlteQuote = 'Heim'"
           [ngStyle]="{'background-color':
              ausgewaehlteQuote == 'Heim' ? 'orange' :
              quoteHover == 'Heim' ? 'lightgray' : sessionService.aktuellesSpiel.toreHeim > sessionService.aktuellesSpiel.toreGast ? 'chartreuse' : ''}"
           style="border-left: 3px solid black">
        <p class="aktuelles_spiel_quote_team">Heim</p>
        <p class="aktuelles_spiel_quote_text">{{ sessionService.aktuellesSpiel.quoteHeim }}</p>
      </div>
      <div class="auswahl_quote" (mouseover)="quoteHover = 'X'" (mouseleave)="quoteHover = ''"
           (click)="ausgewaehlteQuote == 'X' ? ausgewaehlteQuote = '' : ausgewaehlteQuote = 'X'"
           [ngStyle]="{'background-color':
              ausgewaehlteQuote == 'X' ? 'orange' :
              quoteHover == 'X' ? 'lightgray' : sessionService.aktuellesSpiel.toreHeim == sessionService.aktuellesSpiel.toreGast ? 'chartreuse' : ''}">
        <p class="aktuelles_spiel_quote_team">X</p>
        <p class="aktuelles_spiel_quote_text">{{ sessionService.aktuellesSpiel.quoteX }}</p>
      </div>
      <div class="auswahl_quote" (mouseover)="quoteHover = 'Gast'" (mouseleave)="quoteHover = ''"
           (click)="ausgewaehlteQuote == 'Gast' ? ausgewaehlteQuote = '' : ausgewaehlteQuote = 'Gast'"
           [ngStyle]="{'background-color':
              ausgewaehlteQuote == 'Gast' ? 'orange' :
              quoteHover == 'Gast' ? 'lightgray' : sessionService.aktuellesSpiel.toreHeim < sessionService.aktuellesSpiel.toreGast ? 'chartreuse' : ''}">
        <p class="aktuelles_spiel_quote_team">Gast</p>
        <p class="aktuelles_spiel_quote_text">{{ sessionService.aktuellesSpiel.quoteGast }}</p>
      </div>
    </div>
    <div class="aktuelles_spiel_einsatz">
      <div class="aktuelles_spiel_einsatz_wettschein" *ngIf="ausgewaehlteQuote">
        <mat-form-field class="aktuelles_spiel_einsatz_wettschein_formfield">
          <mat-label>Wettschein</mat-label>
          <mat-select class="aktuelles_spiel_einsatz_wettschein_select" [(ngModel)]="ausgewaehlterWettschein">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let wettschein of sessionService.user.wettscheine" [value]="wettschein">
              {{ 'Wettschein ' + wettschein.nummer }}
            </mat-option>
            <mat-option [value]="neuerWettschein">Neuer Wettschein</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="aktuelles_spiel_einsatz_button_div">
        <button *ngIf="ausgewaehlteQuote && ausgewaehlterWettschein" mat-raised-button color="primary"
                class="aktuelles_spiel_einsatz_button"
                (click)="onTippAbgebenClicked()">
          Tipp abgeben
        </button>
      </div>
    </div>
  </div>

</div>
