<h1 class="ueberschrift">Geld einzahlen</h1>
<h3 class="unter_ueberschrift">Wie viel Geld wollen Sie einzahlen?</h3>
<div class="main">
  <div class="inputbetrag_div">
    <mat-form-field id="addBetrag">
      <label>
        <input matInput placeholder="Betrag" name="betrag" inputmode="numeric" spellcheck="false" maxlength="20"
               [(ngModel)]="einzahlbetrag" class="inputbetrag">
      </label>
    </mat-form-field>
  </div>
  <!-- Platzhalter --><div *ngIf="einzahlbetrag <= 0"></div><!-- Platzhalter -->
  <div *ngIf="einzahlbetrag > 0">
    <button class="accept_betrag" mat-fab color="primary"
            title="Zahle den angegebenen Betrag auf das Konto ein." (click)="onAcceptBetragClicked()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
