
.ueberschrift {
  text-align: center;
  font-weight: 500;
}

.unter_ueberschrift {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}

.main {
  width: 100%;
  text-align: center;
}

.inputeinsatz_div {
  width: 80%;
  float: left;
}

.inputeinsatz {
  text-align: center;
  font-size: 22px;
}

#addEinsatz {
  margin-left: 5%;
  width: 95%;
}
