header {
  background: darkmagenta;
  height: 68px;
  width: auto;
  min-width: 866px;
  border-bottom: 1px solid black;

  .logo {
    font-weight: 600;
    font-size: 22pt;
    width: 390px;
    text-decoration: none;
    color: white;

    &:hover {
      cursor: pointer !important;
    }
  }

  .versiontext {
    font-size: 16px;
    margin: 0;
    padding-left: 4px;
    color: white;
  }
}

.container {
  padding: 14px 1.3em 0 1.3em;

  display: grid;
  display: -ms-grid;

  grid-template-columns: 260px auto;
  -ms-grid-columns: 260px auto;

  align-items: center;

  margin: 0 auto 0;

  width: calc(100% - calc(2.6em + 400px));
  float: left;

  nav {
    justify-self: left;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        font-size: 16px;

        a {
          color: white;
          font-style: italic;
          text-decoration: none;
          padding: 0.1em;
          margin-right: 60px;
          font-size: 1.8em;

          &:hover {
            color: black;
            cursor: pointer !important;
          }
        }
      }
    }
  }
}

.menu {
  width: 332px;
  background-color: aliceblue;
  float: left;
  height: 68px;
  border: 1px solid black;
  margin: 0 -1px;
  border-top: none;
}

.benutzerinfo {
  float: left;
  width: calc(332px - 68px);
  height: 68px;
}

.einzahlen {
  float: left;
  text-align: center;
  padding-top: 13px;
  width: 68px;
  height: 55px;
}

#einzahlen_icon {
  margin-left: -8px;
  font-size: 29px;
  color: black;
}

p {
  margin-top: 10px;
  margin-bottom: 6px;
  margin-left: 10px;
  color: black;
}
.username {
  font-size: 22px;
}

.guthaben {
  font-size: 20px;
  padding-bottom: 1px;
}

.login_logout {
  width: 68px;
  float: left;
}

.login_logout_button {
  font-size: 30px !important;
  color: white;
  margin: 12px 0 0 16px;
  background-color: darkmagenta;

  &:hover {
    color: black;
  }
}
