<header>
  <div style="width: 100%">
    <div class="container">
      <div class="appinfos">
        <a routerLink="/" class="logo">{{ appTitle }}<br></a>
        <p class="versiontext">Version 1.0.0</p>
      </div>
      <nav *ngIf="sessionService.user.benutzername">
        <ul>
          <li>
            <a [routerLink]="['/']">Wettscheine</a>
          </li>
          <li>
            <a [routerLink]="['/fussball']">Fußball</a>
          </li>
<!--          <li>-->
<!--            <a [routerLink]="['/pferderennen']">Pferderennen</a>-->
<!--          </li>-->
        </ul>
      </nav>
    </div>

    <!-- Platzhalter -->
    <div class="menu" *ngIf="sessionService.user.benutzername == null || sessionService.user.benutzername.length === 0"
         style="background-color: darkmagenta; border: none"><p></p></div>

    <div class="menu" *ngIf="sessionService.user.benutzername != null && sessionService.user.benutzername.length > 0">
      <div class="benutzerinfo">
        <p class="username">Benutzer: {{ sessionService.user.benutzername }}</p>
        <p class="guthaben" [ngStyle]="{'color': sessionService.user.guthaben > 0 ? 'darkgreen' :
                                        sessionService.user.guthaben == 0 ? 'black' : 'darkred'}">
          Guthaben: {{ sessionService.user.guthaben.toFixed(2) }} €</p>
      </div>
      <div class="einzahlen">
        <button mat-icon-button style="background-color: lawngreen" title="Geld Einzahlen"
               (click)="onEinzahlenClicked()">
          <mat-icon id="einzahlen_icon">euro</mat-icon>
        </button>
      </div>
    </div>
    <div class="login_logout">
      <button class="login_logout_button" mat-icon-button
              *ngIf="sessionService.user.benutzername == null || sessionService.user.benutzername.length == 0"
              title="Anmelden"
              (click)="onLoginClicked()">
        <mat-icon [inline]="true">account_box</mat-icon>
      </button>
      <button class="login_logout_button" mat-icon-button
              *ngIf="sessionService.user.benutzername != null && sessionService.user.benutzername.length > 0"
              title="Ausloggen"
              (click)="onLogoutClicked()">
        <mat-icon [inline]="true">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</header>
