
.ueberschrift {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.unter_ueberschrift {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}

.main {
  width: 100%;
  text-align: center;
}

.username {
  margin-bottom: -10px;
}

#usernameFormField {
  width: 80%;
  font-size: 18px;
}

.passwort {
  margin-bottom: 10px;
}

#passwortFormField {
  width: 80%;
  font-size: 18px;
}

#addEinsatz {
  margin-left: 5%;
  width: 95%;
}

.registrierenButton {
  width: 110px;
  background-color: cornflowerblue;
}

.anmeldenButton {
  width: 110px;
  background-color: darkmagenta;
}
