<h1 class="ueberschrift">Anmelden</h1>
<div class="main">
  <div class="username">
    <mat-form-field id="usernameFormField">
      <label>
        <input matInput placeholder="Benutzername" name="gruppenname" spellcheck="false" maxlength="20"
               [(ngModel)]="benutzername" class="inputname" value="Hallo">
      </label>
    </mat-form-field>
  </div>
  <div class="passwort">
    <mat-form-field id="passwortFormField">
      <label>
        <input matInput placeholder="Passwort" name="gruppenname" spellcheck="false" maxlength="20"
               [(ngModel)]="passwort" class="inputname" type="password">
      </label>
    </mat-form-field>
  </div>
  <div style="float: left">
    <button mat-raised-button class="registrierenButton" color="primary"
            title="Registrieren" (click)="onRegistrierenClicked()">
      Registrieren
    </button>
  </div>
  <div style="text-align: right">
    <button mat-raised-button class="anmeldenButton" color="primary"
            title="Anmelden" (click)="onLoginClicked()">
      Anmelden
    </button>
  </div>
</div>
