/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbarError {
  color: black;
  background-color: lightgray;
}

.snackbarError .mat-simple-snackbar-action {
  color: firebrick;
}

.snackbarSuccess {
  color: black;
  background-color: #CDFF00;
}

.snackbarSuccess .mat-simple-snackbar-action {
  color: black;
}

.cdk-overlay-pane.tabellenAnzeigen {
  position: relative !important;
}

.close.mat-icon-button {
  position: absolute;
  top: 4.3%;
  right: 4.3%;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
